body {
    /* background-color: black; */
    height: 100%;
    width: 100%;
}

.nav-link {
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    margin: 20px 52px 0px 51px;
    /* border: #000 1px solid; */
}


.regist {
    border: #775EFF 1px solid;
    border-radius: 30px;
    background: #775EFF;
}

.regist a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#kanan {
    margin-left: 190px;
}


.footer {
    background-color: black;
    text-align: center;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoFooter {
    margin-top: 37px;
    margin-bottom: 16px;
}

.footerText {
    max-width: 800px;
    width: 100%;
}

.footerText p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 0;
    /* Remove default margin for the paragraph */
    text-align: center;
}

.sosmed {
    margin-top: 38px;
}

.fa-brands {
    color: #FFF;
    text-align: center;
    font-family: Font Awesome 6 Brands;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 22px;
}

.copyright {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    margin-top: 40px;
}

.fa-copyright {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







.heroSection {
    display: flex;
    margin-bottom: 217px;
    /* border: #000 1px solid; */
    margin-top: 56px;
    margin-left: 80px;

}

.heroText {
    /* justify-content: center; */
    width: 620px;
    height: 240px;
    margin-right: 12px;
    margin-top: 177px;
    /* display: flex; */
    /* width: fit-content; */
}

.hero_info {
    width: 700px;
    margin-top: 21px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hero_title {
    color: #000;
    /* border: #000 1px solid; */
    /* text-align: center; */

    font-family: Montserrat;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.halalFood {
    display: inline-block;
    border: #000 1px solid;
    width: 280px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 81px;
    background: #DBF253;
    color: #000;
    font-family: Montserrat;
    font-size: 33px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    /* margin-bottom: 50px; */
}

/* 
.halalFood p {
} */


.heroImg img {
    width: 750px;
    height: 613px;
    flex-shrink: 0;
}

button {
    width: 100px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 39px;
    background: #775FFF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#search {
    border-radius: 39px;
    border: 3px solid #D3D3D3;
    width: 362px;
    height: 43px;
    flex-shrink: 0;
}

.menu_utama {
    margin-bottom: 202px;
    /* border: #000 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_utamaTitle {
    border: #000 1px solid;
    width: 750px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 63px;
    background: #000;
    margin-bottom: 51px;
}

.menu_utamaTitle p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.isi_menu_detail {
    margin-right: 35px;
}

.isi_menu_detail1 {
    margin-right: 35px;
    margin-left: 37px;
}

.salatTime {
    margin-bottom: 10%;
}

.img_salatTime img {
    width: 872.904px;
    height: 542px;
    flex-shrink: 0;
}