/* Title */
* {
  font-family: "Montserrat", sans-serif;
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title h1 {
  font-size: 3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.new {
  margin-left: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: #dcf25c;
}

/* Search Bar */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  height: 1.6em;
}

.searchBar input {
  width: 50vw;
  border-radius: 90px;
  border: solid #d3d3d3 3px;
}

.searchBar button {
  width: 6vw;
  border-radius: 90px;
  background-color: #775fff;
  margin-left: 0.3em;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

/* Article */
.articlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

.empty {
  width: 1em;
}

.article {
  display: flex;
  flex-direction: row;
  border: solid 3px #d3d3d3;
  width: 32.5vw;
  padding: 0.5em;
  border-radius: 7px;
  margin-bottom: 0.8em;
}

.article img {
  width: 9vw;
  height: 6em;
  object-fit: cover;
  border-radius: 7px;
}

.titledesc {
  display: flex;
  flex-direction: column;
  width: 23vw;
  margin-left: 0.6em;
}

.titledesc p {
  margin: 0;
  font-size: 1.1em;
}

.space {
  width: 100%;
  height: 3px;
  background-color: #d3d3d3;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.label {
  display: flex;
  flex-direction: row;
}

.label p {
  margin-right: 0.4em;
  background-color: #000000;
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 90px;
  font-style: italic;
  font-size: 0.7em;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 2.7em;
  }

  .searchBar {
    margin-top: 0.8em;
    height: 1.4em;
  }

  .searchBar button {
    width: 8vw;
    font-size: 0.75em;
  }

  .articlebox {
    margin-top: 1.5em;
  }

  .empty {
    width: 0.5em;
  }

  .article {
    margin-bottom: 0.4em;
  }

  .article img {
    width: 6em;
    height: 4.3em;
  }

  .titledesc p {
    font-size: 0.5em;
  }

  .space {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}

@media screen and (max-width: 420px) {
  .title h1 {
    font-size: 1.5em;
  }

  .searchBar {
    margin-top: 0.5em;
    height: 0.7em;
  }

  .searchBar button {
    width: 13vw;
    font-size: 0.4em;
    height: 1.7em;
    margin-left: 0.1em;
  }

  .searchBar input {
    border: solid 2px #d3d3d3;
    width: 55.8vw;
  }

  .articlebox {
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .article {
    border: solid #d3d3d3 2px;
    width: 65vw;
    margin-bottom: 0.2em;
  }

  .article img {
    width: 3em;
    height: 2em;
  }

  .titledesc p {
    font-size: 5px;
  }

  .titledesc {
    width: 60vw;
  }
  .space {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 1.5px;
  }
}
