/* Title */
* {
  font-family: "Montserrat", sans-serif;
}

nav {
  /* border: 1px solid red; */
  width: 100vw;
  height: 4rem;
  margin-bottom: 1rem;
}

.nav-konten {
  padding: 0 2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  padding: 1rem 0 0 1rem;
}

.nav-menu {
  margin-left: 3rem;
}

.nav-left {
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav li {
  padding: 1rem;
}

/* .container {
  border: 1px solid black;
} */

.nav-menu .nav-item a {
  font-size: 1.25rem;
  padding-bottom: 0;
  border-bottom: 3px solid transparent; /* Menggunakan warna transparan */
  transition: border-bottom 0.3s ease;
}

.nav-menu .nav-item a:hover {
  border-bottom: 3px solid #8771ff; /* Mengganti warna border pada hover */
}

.nav-menu.show-bar {
  display: none;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-right .btn {
  font-size: 1.25rem;
  color: #000;
  margin: 0 0.5rem;
  border-radius: 20px;
}

.nav-right .btn:hover {
  color: #fff;
  background-color: #765eff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title h1 {
  font-size: 3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.new {
  margin-left: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: #dcf25c;
}

/* Search Bar */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  height: 1.6em;
}

.searchBar input {
  width: 50vw;
  border-radius: 90px;
  border: solid #d3d3d3 3px;
}

.searchBar button {
  width: 6vw;
  border-radius: 90px;
  background-color: #775fff;
  margin-left: 0.3em;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

/* Article */
.articlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

.empty {
  width: 1em;
}

.article {
  display: flex;
  flex-direction: row;
  border: solid 3px #d3d3d3;
  width: 32.5vw;
  padding: 0.5em;
  border-radius: 7px;
  margin-bottom: 0.8em;
}

.article img {
  width: 9vw;
  height: 6em;
  object-fit: cover;
  border-radius: 7px;
}

.titledesc {
  display: flex;
  flex-direction: column;
  width: 23vw;
  margin-left: 0.6em;
}

.titledesc p {
  margin: 0;
  font-size: 1.1em;
}

.space {
  width: 100%;
  height: 3px;
  background-color: #d3d3d3;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.label {
  display: flex;
  flex-direction: row;
}

.label p {
  margin-right: 0.4em;
  background-color: #000000;
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 90px;
  font-style: italic;
  font-size: 0.7em;
}

.pagination {
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  padding: 10px 40px;
  border-radius: 6px;
  /* width: 300px; */
  /* height: 20px; */
  /* border: 1px solid black; */
  flex-direction: row;
  justify-content: center;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  margin: 20px 30px;
  padding-left: 0;
}

.pagination ul li {
  display: flex;
  margin: 0 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease; /* Animasi perubahan warna selama 0.3 detik dengan fungsi timing ease */
}

.pagination ul li:hover {
  color: #fff;
  background: linear-gradient(#765eff, #765eff);
  cursor: pointer;
}

.pagination ul li.active {
  color: #fff;
  background-image: linear-gradient(#765eff, #765eff);
  background-repeat: no-repeat;
}

.btn1,
.btn2 {
  padding: 0.7rem 1rem;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color: #383838;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: background 0.3s ease, color 0.5s ease; /* Animasi perubahan warna selama 0.5 detik dengan fungsi timing ease */
}

.btn1:hover,
.btn2:hover {
  color: #fff;
  background: #765eff;
}

/* Responsive */

@media screen and (min-width: 769px) {
  .navbar-nav {
    display: flex;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 768px) {
  .nav-left .nav-menu {
    display: none;
  }

  .nav-menu.show-bar .nav-item a {
    font-size: 1.25rem;
    padding-bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease; /* Menambahkan transition untuk warna teks */
  }

  .nav-menu.show-bar .nav-item a:hover {
    background-color: #8771ff;
    color: #fff;
  }

  .nav-left .nav-menu.show-bar {
    display: flex;
    position: absolute;
    left: -100rem;
    top: 4rem; /* Adjust the top position as needed */
    flex-direction: column !important;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: left 0.3s ease; /* Use left property for animation */
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
  }

  .nav-left .nav-menu.show-bar.active {
    left: 0;
  }

  .nav-left .nav-menu.show-bar .navbar-nav {
    flex-direction: column;
  }

  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .title h1 {
    font-size: 2.7em;
  }

  .searchBar {
    margin-top: 0.8em;
    height: 1.4em;
  }

  .searchBar button {
    width: 8vw;
    font-size: 0.75em;
  }

  .articlebox {
    margin-top: 1.5em;
  }

  .empty {
    width: 0.5em;
  }

  .article {
    margin-bottom: 0.4em;
  }

  .article img {
    width: 6em;
    height: 4.3em;
  }

  .titledesc p {
    font-size: 0.5em;
  }

  .space {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .pagination {
    padding: 0;
  }
  .pagination ul {
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  .title h1 {
    font-size: 1.5em;
  }

  .searchBar {
    margin-top: 0.5em;
    height: 0.7em;
  }

  .searchBar button {
    width: 13vw;
    font-size: 0.4em;
    height: 1.7em;
    margin-left: 0.1em;
  }

  .searchBar input {
    border: solid 2px #d3d3d3;
    width: 55.8vw;
  }

  .articlebox {
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .article {
    border: solid #d3d3d3 2px;
    width: 65vw;
    margin-bottom: 0.2em;
  }

  .article img {
    width: 3em;
    height: 2em;
  }

  .titledesc p {
    font-size: 5px;
  }

  .titledesc {
    width: 60vw;
  }

  .space {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 1.5px;
  }
  .pagination ul li {
    margin: 0;
  }
}

